.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  align-items: center;
}
.navbar .links {
  display: flex;
  column-gap: 50px;
  animation: opa 3s;
}
@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar .links p a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  /*  border-bottom: 4px solid red; */
}
/* .navbar .links p:first-child {
  color: #f12323;
} */
.navbar .astertric {
  font-size: 76px;
  color: #f12323;
  animation: spinner 2s forwards;
}

@keyframes spinner {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(5px);
  }
}

.navbar .social {
  font-size: 14px;
  display: flex;
  column-gap: 20px;
}
.navbar .social i:hover {
  transform: scale(1.2);
  color: #f12323;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .navbar {
    padding: 0 2rem;
    /*     flex-direction: column;
 */
  }
  .navbar .links {
    display: flex;
    column-gap: 20px;
  }
  .navbar .links p a {
    font-weight: 700;
  }
  .navbar .astertric {
    margin-top: 25px;
    text-align: center;
  }
}
